/* =========================
   ADMIN LOGIN PAGE
========================= */

.admin-login-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;

}

/* =========================
   LOGIN CARD
========================= */

.admin-login-card{
  width:100%;
  max-width:420px;

  background:white;

  padding:35px;
  border-radius:20px;

  box-shadow:
    0 15px 40px rgba(0,0,0,.15);

  animation:fadeUp .5s ease;
}

.admin-login-card h1{
  text-align:center;
  margin-bottom:25px;

  color:#dc2626;
  font-size:32px;
}

/* =========================
   INPUTS
========================= */

.admin-input{
  width:100%;
  padding:14px;

  border:2px solid #eee;
  border-radius:12px;

  font-size:15px;
  outline:none;

  transition:.3s;
}

.admin-input:focus{
  border-color:#dc2626;
  box-shadow:0 0 10px rgba(220,38,38,.2);
}

/* =========================
   BUTTON
========================= */

.admin-btn{
  width:100%;
  padding:14px;

  border:none;
  border-radius:12px;

  background:linear-gradient(
    90deg,
    #dc2626,
    #b91c1c
  );

  color:white;
  font-size:16px;
  font-weight:700;

  cursor:pointer;
  transition:.3s;
}

.admin-btn:hover{
  transform:translateY(-2px);
  box-shadow:
    0 10px 20px rgba(220,38,38,.25);
}

/* =========================
   ANIMATION
========================= */

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* =========================
   MOBILE
========================= */
@media(max-width:768px){

  .admin-login-page{
    min-height:auto;
    align-items:flex-start;
    padding:20px 15px;
    padding-top:60px;
  }

  .admin-login-card{
    margin:0;
    padding:122px 50px;
    border-radius:16px;
  }

  .admin-login-card h1{
    font-size:24px;
    margin-bottom:18px;
  }

  .admin-input{
    padding:12px;
  }

  .admin-btn{
    padding:12px;
  }
}