.profile-card {
  width: 420px;
  padding: 35px;
  border-radius: 30px;

  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.4);

  box-shadow:
    0 15px 35px rgba(255, 0, 0, 0.12),
    0 5px 15px rgba(0,0,0,0.08);

  text-align: center;

  animation: cardEntry 0.8s ease;
  transition: .4s;
}

.profile-card:hover{
  transform: translateY(-8px);
}.profile-img{
  width:130px !important;
  height:130px;

  border-radius:50%;
  object-fit:cover;

  border:5px solid #ff5a5f;

  animation: float 3s ease-in-out infinite;

  box-shadow:
    0 0 0 10px rgba(255,90,95,.15),
    0 10px 30px rgba(255,90,95,.3);
}
.profile-card h2{
  margin-top:20px;
  font-size:36px;
  font-weight:700;

  background:linear-gradient(
    90deg,
    #ff3c3c,
    #ff7676
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}



.profile-card p{
  color:#666;
  margin-bottom:25px;
  font-size:16px;
}
.action-row{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.action-row button{
  flex:1;
  padding:15px;

  border:none;
  border-radius:15px;

  background:linear-gradient(
    135deg,
    #ff4d4d,
    #ff7b7b
  );

  color:white;
  font-weight:700;

  cursor:pointer;

  transition:.35s;
}

.action-row button:hover{
  transform:
    translateY(-5px)
    scale(1.04);

  box-shadow:
    0 15px 25px rgba(255,77,77,.35);
}


.logout-btn{
  width:100%;
  margin-top:18px;

  padding:15px;

  border:none;
  border-radius:15px;

  background:#111;
  color:white;

  font-weight:700;

  cursor:pointer;

  transition:.35s;
}

.logout-btn:hover{
  background:#ff3c3c;

  transform:scale(1.03);

  box-shadow:
    0 10px 25px rgba(255,60,60,.35);
}


@keyframes float{
  0%,100%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-10px);
  }
}

@keyframes cardEntry{
  from{
    opacity:0;
    transform:
      translateY(40px)
      scale(.9);
  }

  to{
    opacity:1;
    transform:
      translateY(0)
      scale(1);
  }
}



.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    
    #f8f9fa;
}