.category-section{
  margin:20px 0;
  width:100%;
}

.category-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:12px;
}

.category-title{
  font-size:28px;
  font-weight:700;
  color:#111827;
}

.category-header button{
  border:none;
  background:#dc2626;
  color:white;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
}

@media(max-width:768px){

  .category-title{
    font-size:16px;
  }

  .category-header button{
    font-size:11px;
    padding:5px 10px;
  }
}